# Latence per Hop

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pycountry
import json
import matplotlib.pyplot as plt
import matplotlib.ticker as tick
import numpy as np
import seaborn as sns
import time
import datetime

# Expects date in format 01.12.1999
def date_to_timestamp(date):
    return int(time.mktime(datetime.datetime.strptime(date, "%d.%m.%Y").timetuple()))
assert date_to_timestamp("01.01.2022") == 1640995200

engine = create_engine("postgresql://postgres:postgres@vm-robert-richter.cloud.dhclab.i.hpi.de:5432/postgres") # postgresql://user:password@host:port/databasename")

def to_latex(df, columns=None, label="nolabel", caption="notitle"):
    if not columns:
        columns = df.columns.tolist()
    return df.to_latex(index=False, bold_rows=True, label=label, caption=caption, columns=columns)

def country_name(country_iso):
    return pycountry.countries.get(alpha_2=country_iso).name

def filter_for(df, name, value):
    return df.loc[df[name] == value]

def filter_for_unequal(df, name, value):
    return df.loc[df[name] != value]

def filter_for_range(df, name, lower_bound, upper_bound):
    return df[(df[name] >= lower_bound) & (df[name] < upper_bound)]

def days_in_month(year, month):
    return monthrange(year, month)[1]

def first_weekday_of_month(year, month):
    return monthrange(year, month)[0]

def date_to_weekday(day, month, year):
    date = datetime(year, month, day)
    return day_name[date.weekday()]

In [3]:
probesdf = pd.read_parquet('./parquet/ripe_atlas_probe_data.parquet').set_index('id')
traceroutedf = pd.read_parquet('./parquet/traceroute_data.parquet').join(probesdf, on='prb_id')

In [4]:
probesdf

                   ipv4    asn  longitude  latitude country
id
10743      98.97.42.182  14593  -122.9005   48.4885      US
2823       65.181.3.210  14593   145.4685  -37.9215      AU
11585              null  14593    17.9215   59.6395      SE
1297     145.224.66.114  14593    -0.9685   51.7505      GB
12863      98.97.38.104  14593  -122.7395   45.8985      US
...                 ...    ...        ...       ...     ...
1006246     98.97.35.40  14593  -122.3405   47.6005      US
1007280  169.155.251.77  14593     7.0915   43.8575      FR
1005562   98.97.178.117  14593   -80.3495   34.3785      US
1006481   65.181.22.158  14593   116.0115  -32.2225      AU
1007640  169.155.235.98  14593    -3.6905   40.4175      ES

[146 rows x 5 columns]